---
import Link from '../components/Link.astro';
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'

const meta ={
	title: 'Regalos corporativos',
	description: 'Aquí encontrarás regalos para tus colaboradores, clientes o proveedores. Personaliza tus regalos corporativos con nosotros.',
	image: '/portada.jpeg',
	empresa: 'Scrapnow Memory',
	links: [
		{
			title: 'Regalos corporativos Hombres',
		 link: 'https://drive.google.com/file/d/18QGT4ukoA8361R-Hzu495DDQM3EPxV7g/view?usp=drive_link'
		},{
			title: 'Regalos corporativos Mujeres',
		 link: 'https://drive.google.com/file/d/1oZmZyxt6l3A0o_IqZUcKMG75Wq6pxUfP/view?usp=drive_link'
		}
	],
	
}

const {title, description, image, empresa, links} = meta;
---

<Layout {title} {description} {image} {empresa} >
	<div class="container m-auto text-center flex flex-col items-center gap-y-6 pt-20 md:pt-10 px-4 md:max-w-xl text-red-950">
		<img src="/logo_scrapnowMemory.svg" alt="logo scrapnow memory" class="size-36 rounded-full">
		<div>
			<h1 class="text-2xl font-medium"> ✨ {title} ✨</h1>
			<p class="mt-1">{description}</p>
		</div>
		{
			links.map(({title,link})=>(
				<Link {link} {title}>
					<Icon name="solar:gift-linear" />
				</Link>
			))
		}
	<p class="md:relative pt-10 flex flex-col items-center">
		Creando detalles que perduren en el corazón.
		<a href="https://api.whatsapp.com/send/?phone=51982696738&text&type=phone_number&app_absent=0" class="flex mt-2 p-2 rounded-full border-2 border-green-500 text-green-900 w-fit text-xs items-center gap-1">
			Escríbenos por WhatsApp
			<img src="/whatsapp-icon.svg" alt="hablanos por whatsapp" class="size-6">
		</a>
	</p>
	</div>
</Layout>
